services:
  db:
    image: postgres:17-alpine
    container_name: pg
    restart: unless-stopped
    environment:
      POSTGRES_DB: pr_service
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U user -d pr_service" ]
      interval: 3s
      timeout: 5s
      retries: 10
      start_period: 10s

  app:
    build: .
    container_name: app
    restart: unless-stopped
    ports:
      - "8081:8080"
    environment:
      DB_CONN: "postgres://user:password@db:5432/pr_service?sslmode=disable"
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:
